<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Responsive Sticky Navbar</title>
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <style type="text/css">
    html,
    body {

      height: 100%;
      margin: 0;

    }

    #lol {
      height: 100vh;
    }

    #lol1 {
      height: 100vh;
    }

    #lol3 {
      height: 100vh;
    }

    #lol4 {
      height: 100vh;
    }

    #lol5 {
      height: 100vh;
    }

    #lol6 {
      height: 100vh;
    }

    .mySlides {
      display: none;

    }
  </style>


</head>

<body>


  <header name="portion" id="lol">
    <nav>
      <div class="menu-icon">
        <i class="fa fa-bars "></i>
      </div>

      <div class="logo">
        LOGO
      </div>
      <div class="menu">
        <ul>
          <li class="one"><a href="#lol">Home</a></li>
          <li class="two"><a href="#lol1">History</a></li>
          <li class="three"><a href="#lol2">N/A</a></li>
          <li class="four"><a href="#lol3">Gallery</a></li>
          <li class="five">
            <div class="dropdown">
              <button (click)="myFunction()" class="dropbtn">Line Up
                <i class="fa fa-caret-down"></i>
              </button>
              <div id="myDropdown" class="dropdown-content">
                <a href="#home">Super</a>
                <a href="#about">Sports</a>
                <a href="#contact">Daily Drive</a>
              </div>
            </div>

          </li>
        </ul>


      </div>




    </nav>
    <br>
    <br>
    <section id="section05" class="demo" class="imgDetails">
      <a href="#lol1"><span></span></a>
    </section>

  </header>

  <div class="testBack" name="portion" id="lol1">
    <br>
    <br>
    <div class="row" id="title_holder">
      <br>
      <br>
      <h1 style="color: white; font-family: verdana" class="text-center"></h1>
    </div>

    <br>

    <div class="row testBack">
      <!-- <div class="col-md-4 "><p></p></div> -->


      <div class="col-md-8 col-md-offset-2 " id="title_holder">
        <br>
        <div class="glitch " data-text="History">
          <h1 class="text-center" style="font-family: verdana">History</h1>
          <h1 style="font-family: verdana" class="text-center">History</h1>
          <h1 style="font-family: verdana" class="text-center">History</h1>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p style="color:white">The third millennium began with a decade of rapid expansion.

          We boosted our presence on emerging markets, such as the Middle East, China, Japan and the rest of the Far
          East, as well as consolidating our position on the US, UK and German markets. We also worked in the same
          direction in terms of our range by adding models that delivered a superior standard of comfort and
          driveability whilst retaining the signature Ferrari performance.

          In 2015 FCA put up 10% of its shares in Ferrari up for sale in an initial public offering and on October 21,
          2015 was publically listed on the New York Stock Exchange (NYSE:RACE). On January 4, 2016 Ferrari was listed
          also on Borsa Italiana, becoming an independent Company.</p>
      </div>

      <!-- <div class="col-md-4 "><p>Zasdadx</p></div> -->
    </div>

  </div>




  <div id="lol2" name="portion" class="testBack"> section 1</div>



  <div id="lol3" name="portion" class="testBack" style="z-index:1000">
    <ngb-carousel *ngIf="images" style="margin: 0 auto; ">
      <ng-template ngbSlide>
        <img src="../../src/app/images/l1.jpg" alt="Random first slide" style="height: 100vh; width: 100vw">
        <div class="carousel-caption">
          <h3>Mustang GT 350</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="../../src/app/images/l2.jpg" alt="Random second slide" style="height: 100vh; width: 100vw">
        <div class="carousel-caption">
          <h3>Mclarin P1</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="../../src/app/images/l3.jpg" alt="Random third slide" style="height: 100vh; width: 100vw">
        <div class="carousel-caption">
          <h3>WRX Sti</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="../../src/app/images/l6.jpg" alt="Random fourth slide" style="height: 100vh; width: 100vw">
        <div class="carousel-caption">
          <h3>Mustang GT</h3>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <!-- second -->
  <div id="lol4" name="portion" class="testBack" style="z-index:1000">
    <br>
    <ngb-carousel style="margin: 0 auto; ">
      <ng-template ngbSlide *ngFor="let prod of export_data">
        <!-- <h3>Showing products</h3> -->
        <div class="col-md-6 col-md-offset-3 col-sm-7">
          <div class="thumbnail col-md-12">
            <img class="img-rounded" src="../../src/app/images/{{prod.image}}">
            <div class="caption">
              <!-- <h4 class="text text-info"> -->
              <!-- <a   (click)="productDetail(prod._id)">{{prod.pName}}</a> -->
              <!-- <br/> -->
              <!-- <span class="badge ratingcolor glyphicon glyphicon-star-empty">>{{prod.pRating}}&#9733;</span> -->
              <!-- </h4> -->
              <!-- <br> -->
              <p>{{prod.pDescription}}</p>
              <br>
              <!-- <div div class="space">
                                  <button class=" btn btn-primary" (click)="addToCart(prod)">Add to Cart</button>
                                  <b>{{prod.price | currency: 'INR' : 'symbol'}}</b>
                              </div> -->
            </div>
          </div>
        </div>
      </ng-template>

    </ngb-carousel>

  </div>

  <div id="lol5" name="portion" class="container-fluid">
    <div class="row" id="imgTest" style="overflow: auto">
      <div class="testgrey col-md-3" style=" overflow: hidden;">
        <form>

          <div class="form-group">
            <h1 class="text-center" style="color:white; margin-top: 20vh">{{currentCollection}}</h1>
            <select (change)="collectionCall()" [(ngModel)]="test" name="categ" class="form-control" style="margin-top: 20vh">
              <option value="">--select--</option>
              <option value="1">O1</option>
              <option value="2">O2</option>
              <option value="3">O3</option>
            </select>
          </div>

        </form>


      </div>


      <div class="col-md-9" style="border: 2px blue" style="margin-top: 20vh; overflow: auto;">




        <div class="col-md-3 col-sm-3" *ngFor="let prod of export_data" style="display: inline-block;">
          <div class="thumbnail">
            <img class="img-rounded" src="../../src/app/images/{{prod.image}}">
            <div class="caption">
              <!-- <h4 class="text text-info"> -->
              <!-- <a   (click)="productDetail(prod._id)">{{prod.pName}}</a> -->
              <!-- <br/> -->
              <!-- <span class="badge ratingcolor glyphicon glyphicon-star-empty">>{{prod.pRating}}&#9733;</span> -->
              <!-- </h4> -->
              <!-- <br> -->
              <p>{{prod.pDescription}}</p>
              <br>
              <!-- <div div class="space">
                                      <button class=" btn btn-primary" (click)="addToCart(prod)">Add to Cart</button>
                                      <b>{{prod.price | currency: 'INR' : 'symbol'}}</b>
                                  </div> -->
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div  name="portion" id="lol5">
      <a data-toggle="modal" href="#myModal" class="btn btn-primary">Launch modal</a>
      <div class="modal fade" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Modal title</h4>
              </div>
              <div class="modal-body">
                Content for the dialog / modal goes here.
              </div>
              <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Close</a>
                <a href="#" class="btn btn-primary">Save changes</a>
              </div>
            </div>
          </div>
      </div>

</body>

</html>
